<h1>Об авторе</h1>
<h3>Каташук Владислав Викторович.</h3> <p> Дата рождения – 9 июля 1975 года (рак - кот). Белорус. Мастер ФИДЕ (звание получено за достижение ЭЛО 2300). Тренер СДЮШОР-7 г. Бреста. Лучший тренер Беларуси 2009 года по опросу Белорусской федерации шахмат и портала www.openchess.by. 4-кратный чемпион Бреста (1999, 2001, 2003, 2006). Чемпион Брестской области-2011. 3-кратный призер чемпионата области. Бронзовый призер чемпионата Беларуси среди клубов (2007 – в составе «Бремора», 2008 – в составе «Витебска»). 
<h4>
Лучшие достижения учеников: 
</h4>
<h5>2 место на юношеском чемпионате Европы</h5> Сегодник Антон (2009). 
<h5> 1 место в командном турнире и 3 место в решении задач на юношеском чемпионате Европы по быстрым шахматам и блицу </h5> Сегодник Антон (2011).<br> 
<h5> 1 место на первенстве Беларуси: </h5> 
Буланов Дима (2006, 2007, 2009), <br>
Сегодник Антон (2009),<br>

Узловатая Лина (2012), <br>
Шаревич Анна (1999), <br>
Шаревич Вадим (1999). <br>
<h5> 1 место на первенстве Беларуси по быстрым шахматам:</h5> 
Узловатая Лина (2013),<br>

Свидерский Никита (2010), <br>
Буланов Дима (2005), <br>
Сегодник Антон (2005, 2007),<br> 
Рыжкова Катя (2003), <br>
Сапон Илья (2007), <br>
Шаревич Анна (1999). <br>
<h5> 1 место на первенстве Беларуси по блицу: </h5>
Ланец Ксения (2012),<br>

Галян Артем (2011). <br>
<h5> 1 место на чемпионате Бреста среди мужчин:</h5> 
Сегодник Антон (2009, 2010, 2011, 2012), <br>
Буланов Дима (2005, 2008).<br>
</p>
<small> *Многие из этих ребят - ученики не только мои. В разное время с ними работали Валентина Анохина, Ирина Турапина, Александр Евсеев, Вадим Шаревич, Михаил Комиссаров.</small> <br>
