<h1>Турниры</h1>
<h3> "Осенний листопад" (28-29 октября) </h3>
<p>Турнир 2 разрядов: 1 Яблонский, 2 Вавренюк, 3 Скварнюк; турнир 3 разрядов: 1 Климко, 2 Курочкин, 3 Довгач; турнир 4 разрядов: 1 Бубликов, 2 Голубкин, 3 Глуховский.</p>
<h3> "Черная пешка" (24-27 октября) </h3>
<p>Спецстраница - http://brestchess.ucoz.ru/publ/quot_chernaja_peshka_quot_2013/1-1-0-46. </p>
<h3> ОДМ РБ (Пинск, 16-20 октября) </h3>
<p> Брестская область - 1 место! Мартынюк - 3 из 6 на 3-й доске. Подробнее - http://brestchess.ucoz.ru/publ/odm_rb_2013/1-1-0-44. </p>
<h3>Кубок Каташука по блицу, 2-й этап (20 октября) </h3>
<p> 1 Галян, 2 Чубуков, 3 Каташук - http://brestchess.ucoz.ru/index/kubok_katashuka/0-20. </p>
<h3>Мемориал Сайгина (12-13 октября) </h3>
<p>1 Закиров, 2 Берлин, 3 Галян, подробнее - http://brestchess.ucoz.ru/publ/memorial_sajgina_2013/1-1-0-42. </p>
