<p id="notice"><%= notice %></p>


<h1> 
  <%= @newsline.title %>
</h1>

<p> 
  <%= markdown(@newsline.content) %>
</p>

<% if signed_in? %>
<%= link_to 'Редактировать', edit_newsline_path(@newsline) %> 
<% end %>

<br>


