<% @contacts.each do |contact| %>
  <tr>
    <td><%= raw safe_textilize(contact.content) %></td>
 <% if signed_in? %>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <% end %>
  </tr>
<% end %>
</table>
