#encoding: utf-8
<small>by Черепов Алексей google-site-verification: google1f6fefb69c3ea2b8.html </small>

<footer class="footer">
	
	  <nav>
    <ul>

		<li><%= link_to "Об Авторе",   contacts_path %></li>
    </ul>
  </nav>

  	<%= link_to image_tag("vk.png", size: "28x28"), 'http://vk.com/id14449126' %>
	<%= link_to image_tag("fb.png", size: "30x30"), 'https://www.facebook.com/xelaxer?fref=ts' %>

</footer>

