#encoding: utf-8
<small>by Черепов Алексей </small>
<br>
<% if signed_in? %>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t29.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: number of visitors and pageviews"+
" is shown' "+
"border='0' width='88' height='120'><\/a>")
//--></script><!--/LiveInternet-->
<% end %>
<footer class="footer">
	
	  <nav>
    <ul>

		<li><%= link_to "Об Авторе",   contacts_path %></li>
    </ul>
  </nav>

  	<%= link_to image_tag("vk.png", size: "28x28"), 'http://vk.com/id14449126' %>
	<%= link_to image_tag("fb.png", size: "30x30"), 'https://www.facebook.com/xelaxer?fref=ts' %>

</footer>

