#encoding: utf-8
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Частная лавочка", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Новости",    '#' %></li>
          <li><%= link_to "Турниры",    "#" %></li>
          <li><%= link_to "Вход", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
